
Tutorials/Week-4/experimental design/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Tutorials/Week-4/experimental design/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Tutorials/Week-5/.ipynb_checkpoints/2021s1_workshop5_solutions-checkpoint.ipynb
Tutorials/Week-5/.ipynb_checkpoints/Lab5_Akira_sols-checkpoint.ipynb
