
Tutorials/Week-1/.ipynb_checkpoints/Lab1_Akira-checkpoint.ipynb
Tutorials/Week-1/.ipynb_checkpoints/Lab1_Akira-checkpoint.ipynb
Tutorials/Week-1/.ipynb_checkpoints/Lab1_Akira_sol-checkpoint.ipynb
Tutorials/Week-2/.ipynb_checkpoints/Lab2_Akira_sol-checkpoint.ipynb
Tutorials/Week-2/.ipynb_checkpoints/Lab2_Akira-checkpoint.ipynb
